.container{
    display: flex;
    width: 840px;
    flex-wrap: wrap;
}
.square{
    height: 50px;
    width: 50px;
    border: solid 1px black;
   
}
.size{
    /* height: 50px;
    width: auto; */
    font-size: 20px;
}