.container{
    display: flex;
    width: 840px;
    height: 840px;
    flex-wrap: wrap;
}
.square{
    box-sizing: border-box;
    border: solid 1px black;
}
.size{
    /* height: 50px;
    width: auto; */
    font-size: 20px;
}